*.bak
*.bck
rescue-backup
*.gbr
*bak
TAGS
*_region_*
documentation/auto/
documentation/data/
*.aux
*.backup
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.gz
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
/hardware/_autosave-fmcw.pro
/hardware/fmcw.csv
/hardware/fmcw.xml
/hardware/_saved_power.sch
doc/auto
/hardware/_saved_fpga.sch
*.ini
