*.bak
*.bck
rescue-backup
*.gbr
*bak
TAGS
*_region_*
documentation/auto/
documentation/data/
*.aux
*.backup
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.gz
*.idx
*.ilg
*.ind
*.log
*.out
*.toc
/hardware/_autosave-fmcw.pro
/hardware/fmcw.csv
/hardware/fmcw.xml
doc/auto
*.ini
*_saved_*
*fp-info-cache
*fp-lib-table
*.vtr
openems/tmp
openems/octave-workspace
/hardware/fmcw_bom_.csv
*__pycache__*
*size(H).ps
**/octave-workspace
**/img
*.pyc
/pc/out.mp4
/doc/_minted*
*.vcd
*.mp4
**/ltximg
**/fft_r22sdf_tb
**/.Xil
**/tb
**/_autosave*
**/*.bit
**/usage_statistics_webtalk*
**/*.bin
**/compile_commands.json
/fpga/fir/math
/fpga/fir/np
**/tmp*
*.edif
**/sim*
*.stl
/fpga/hdl/dist/scripts/read_bytes
/fpga/hdl/dist/read
/fpga/hdl/dist/scripts/data
/fpga/hdl/dist/scripts/missed_reads
*.ilang
/software/read
/software/gen_plot
